[submodule "part10/rate-repository-app"]
	path = part10/rate-repository-app
	url = https://github.com/ziirou/rate-repository-app
	branch = main

[submodule "part11/full-stack-open-pokedex"]
	path = part11/full-stack-open-pokedex
	url = https://github.com/ziirou/full-stack-open-pokedex
	branch = main

[submodule "part11/phonebook"]
	path = part11/phonebook
	url = https://github.com/ziirou/part11-phonebook
	branch = main
