input {
  margin-left: 5px;
}

.blog {
  padding-top: 10px;
  padding-left: 2px;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 5px;
}

.blog_button {
  margin-left: 5px;
}

.logout {
  margin-left: 5px;
  margin-bottom: 20px;
}

.notifications {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.notification {
  color: green;
}

.warning {
  color: yellow;
}

.error {
  color: red;
}
